<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="flex">
      <a href="/" class="left"> Users </a>
      <a href="/users/new" class="right">Add new User</a>
    </div>
    <h1>User Detail</h1>
    <div class="info">
      <h1>Name: <%= user.name %></h1>
      <h2>Email: <%= user.email %></h2>
      <p>Age: <%= user.age %></p>
      <h3>Gender: <%= user.gender %></h3>
    </div>
    <div class="flex">
      <a href="/users/<%= user.id %>/edit" class="left"> Update User </a>
      <a href="" class="right">Delete User</a>
    </div>
  </body>
</html>